@model Enrollments.Models.EnrollmentDetails

<div class="row">
    <div>
        @Model.ID
    </div>
</div>
<div class="row">
    <div>
        @Model.Name
    </div>
</div>
<div class="row">
    <div>
        @Model.Course
    </div>
</div>
<div class="row">
    <div>
        @Model.YearLevel
    </div>
</div>
<div class="row">
    <div>
        @Model.Section
    </div>
</div>